*{
    box-sizing: border-box;
  }


  table{
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
    border-bottom: 2px solid #F6F7FB;
    border-top: 2px solid #F6F7FB;
    border-right: 2px solid #F6F7FB;
    
}

.satauri {
    margin-left: 5px;
    width: 41px;
    height: 30px;
    font-weight: 400px;
    font-size: 20px;
    
}
.poto {
    width: 8.5px;
    height: 4.5px;
}
.td1 {
    margin-left:30px;
    width: 167px;
    height: 68px;
    font-weight: 400px;
    font-size: 20px;
    color: #2898CB;
    padding-left: 43px;
}

.td2 {
    border-right: 2px solid #F6F7FB;
    border-bottom: 2px solid #F6F7FB;
    border-top: 2px solid #F6F7FB;
}
.td3{
    width: 167px;
    height: 20px;
    font-weight: 400px;
    font-size: 20px;
    color: #2898CB;
    padding-left: 70px;
    
    
    

}
.column1 {
    display: flex;
    
    margin-left: 40px;
    width: 258px;
    height: 68px;
    font-size: 20px;
    font-weight: 400;
    border-right: 2px solid #F6F7FB;
    border-bottom: 2px solid #F6F7FB;
    border-top: 2px solid #F6F7FB;
}
.column2 {
    font-weight: 400px;
    font-size: 18px;
    text-align: end;
    padding-right: 10px;
    border-right: 2px solid #F6F7FB;
    border-bottom: 2px solid #F6F7FB;
    border-top: 2px solid #F6F7FB;
}
.column3 {
    width: 150px;
    height: 68px;
    font-weight: 400px;
    font-size: 18px;
    text-align: end;
    padding-right: 10px;
    border-right: 2px solid #F6F7FB;
    border-bottom: 2px solid #F6F7FB;
    border-top: 2px solid #F6F7FB;
}

th {
    background: #F6F7FB;
    widows: 1443px;
    height: 70px;
}
p {
    width: 200px;
}